.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: min-content;
}

.letters-table {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-gap: 50px 50px;
    margin-bottom: 50px;
}

.single-letter {
    font-size: 70px;
    text-align: center;
    border-color: lightgray;
}

.trigger {
    text-transform: uppercase;
}

.output {
    height: 200px;
    padding: 2px;
    border: 2px solid lightgray;
}
